@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Libre Franklin', sans-serif;
  background: hsl(195deg 53% 79%);
  padding: 40px;
}

img {
  display: block;
  width: 75%;
  height: auto;
}

button {
  cursor: pointer;
  transition: .2s ease;
}

h1, h2 {
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(0deg 0% 20% / 50%);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 800px;
}

.choices {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.choice {
  background: hsl(0deg 0% 73%);
  width: 30%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

button.choice:hover {
  background: hsl(0deg 0% 67%);
  transform: scale(1.05);
}

button.choice:active {
  background: hsl(0deg 0% 73%);
  transform: scale(1);
}

.results {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.score {
  font-size: 20px;
  font-weight: bold;
}

.new-game {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  padding: 8px 16px;
  background: hsl(20 86% 81%);
  border: hsl(30deg 36% 31%);
  font-size: 24px;
  font-weight: bold;
  transform: translateX(-50%);
  animation: newGame 1s linear 0s 1;
  z-index: 100;
}

.new-game:hover {
  background: hsl(0deg 0% 67%);
  transform: translateX(-50%) scale(1.05);
}

.new-game:active {
  background: hsl(0deg 0% 67%);
  transform: translateX(-50%) scale(1);
}

@keyframes newGame {
  0% {
    top: -10%;
    left: -10%;
  }
  40% {
    top: 25%;
    left: 25%;
  }
  60% {
    top: 50%;
    left: 35%;
  }
  75% {
    top: 45%;
    left: 45%;
  }
  100% {
    top: 50%;
    left: 50%;
  }
}
