@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin&family=Roboto:wght@400;500;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Libre Franklin', Arial, sans-serif;
  background: var(--lightblue);
  padding: 40px;
}

button {
  cursor: pointer;
}

h1, h2 {
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 10px;
}

